@import '../assets/fonts/Rubik-Light.ttf';   // 300
@import '../assets/fonts/Rubik-Regular.ttf'; // 400
@import '../assets/fonts/Rubik-Medium.ttf';  // 500

@import "./variables.scss";

* {
  font-family: 'Rubik', sans-serif;
}

#react-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.application-container {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .component-container { // holds datapicker and spreadsheet
    display: flex;
    flex-grow: 1;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .left-container {
      display: flex;
      flex-direction: column;
    }
    .right-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      .spreadsheet-container {
        width: 100%;
        display: flex;
        // flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
        background-color: white;
      }
    }

  }
  .bottom-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px 0 15px;

    z-index: 1;
    background: $lightGrey;
    border-top: 1px solid #ccc;
    color: $darkGrey;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;

    div {
      a {
        color: $darkGrey;
        text-decoration: none;
        display: flex;
        height: 100%;
        align-items: center;
      }
      &:first-child {
        .logo {
          margin-right: 25px;
          img {
            max-width: 160px;
          }
          .logo-link {
            padding: 0;
          }
        }
        a:not(.logo-link) {
          &:visited {
            color: $darkGrey;
          }
          padding: 0 10px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: -1px;
            width: 100%;
            transition: height 0.2s;
            height: 0;
          }
          &:hover::after {
            height: 4px;
            background: $darkGrey;
          }
          &.active {
            color: $darkerGrey;
            pointer-events: none;
            cursor: default;
            &::after {
              height: 4px;
              background: $darkerGrey;
            }
          }
        }
      }
      &:last-child {
        a {
          color: $darkerGrey;
          &:hover {
            color: $actionColor;
          }
          transition: color 0.2s;
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      height: 100%;
      > p, a:not(:last-child) {
        margin-right: 15px;
      }
    }
    button {
      cursor: pointer;
      font-weight: bold;
      font-size: 0.875rem;
      letter-spacing: 1px;
      padding: 3px 6px;
      border-radius: 5px;
      background-color: grey;
      border: 1px solid whitesmoke;
      color: whitesmoke;
      &:hover {
        background-color: dimgrey;
      }
    }
  }

  .loader-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loading-message {
      font-family: monospace;
      margin-top: 50px;
    }
  }
}
.memory-canvas {
  display: none;
  visibility: hidden;
}
