@import "./variables.scss";

.datapicker-selector {
  display: flex;
  ul {
    color: $darkGrey;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    width: 100%;
    height: 48px;
    background: $lightGrey;
    align-items: flex-start;
    justify-content: space-around;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        transition: height 0.2s;
        height: 0;
      }
      &:hover::after {
        height: 4px;
        background: $darkGrey;
      }
      &.active {
        color: $darkerGrey;
        &::after {
          height: 4px;
          background: $darkerGrey;
        }
      }

      &:not(:first-child) {
        border-left: 1px solid $grey;
      }
      &:not(.active) {
        height: calc(100% - 1px);
        border-bottom: 1px solid $grey;
        cursor: pointer;
      }
      &.active {
        height: 100%;
        color: $darkerGrey;
        background: white;
        z-index: 1;
      }
      span {
        text-transform: uppercase;
      }
    }
  }
}

.datapicker-container {
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: white;
  z-index: 1;
  user-select: none;
  canvas {
    cursor: pointer;
  }
  .datapicker-ui {
    position: absolute;
    margin: 20px;
    right: 0;
    bottom: 0;
    display: flex;
    .datapicker-minimap {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: default;
      z-index: 0;
      display: flex;
      .whole {
        align-items: center;
        justify-content: center;
        display: flex;
        outline: 1px solid $darkGrey;
        position: relative;
        span {
          font-weight: 500;
          color: $darkerGrey;
          z-index: 1;
          text-shadow: -1px -1px 0 $lightGrey, 1px -1px 0 $lightGrey, -1px 1px 0 $lightGrey, 1px 1px 0 $lightGrey;
        }
        .window {
          position: absolute;
          left: 10px;
          outline: 2px solid $darkerGrey;
          outline-offset: -1px;
          background-color: rgba(0, 0, 0, 0.2);
          width: 20px;
          height: 10px;
        }
      }
    }
    .scale-buttons {
      cursor: pointer;
      z-index: 1;
      border: 1px solid $darkerGrey;
      color: $darkerGrey;
      background-color: $lightGrey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      font-weight: 500;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        &:not(:first-child) {
          border-top: 1px solid $darkerGrey;
        }
        &:hover {
          background-color: $grey;
        }
        &:first-child {
        }
        &:last-child {
          font-size: 12px;
        }
      }
    }
  }
  .highlighter {
    position: absolute;
    pointer-events: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    outline: 3px solid $actionColor;
    outline-offset: -3px;
  }
}
