.datapicker-selector {
  display: flex;
  ul {
    font-size: 12px;
    letter-spacing: 3px;
    display: flex;
    width: 100%;
    height: 48px;
    background: rgb(230, 230, 230);
    align-items: flex-start;
    justify-content: space-around;
    li {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      &:not(.active) {
        cursor: pointer;
        box-shadow: inset 0 -5px 8px -5px rgba(0, 0, 0, 0.2);
        &:hover {
          background: rgb(240, 240, 240);
        }
      }
      &.active {
        background: white;
        font-weight: 700;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      span {
        text-transform: uppercase;
      }
    }
  }
}

.datapicker-container {
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  .datapicker-ui {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    right: 0;
    bottom: 0;
    .datapicker-minimap {
      cursor: default;
      z-index: 0;
      display: flex;
      .whole {
        display: flex;
        width: 200px;
        height: 200px;
        outline: 2px solid grey;
        position: relative;
        .window {
          cursor: pointer;
          position: absolute;
          left: 10px;
          outline: 1px solid darkorange;
          background-color: rgba(220, 100, 0, 0.5);
          width: 20px;
          height: 10px;
        }
      }
    }
    .scale-buttons {
      z-index: 1;

      position: absolute;
      right: 10px;
      bottom: 10px;
      border-radius: 5px;
      border: 1px solid grey;
      background-color: whitesmoke;
      span {
        color: grey;
        display: flex;
        align-items: center;
        padding: 5px 8px;
        &:hover {
          background-color: white;
        }
        &:first-child {
          border-radius: 5px 5px 0 0;
          border-bottom: 1px solid grey;
        }
        &:nth-child(2) {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
  .highlighter {
    position: absolute;
    pointer-events: none;
    margin-top: -3px;
    margin-left: -3px;
    box-shadow: 0px 3px 10px grey;
    border: 3px solid rgb(238, 132, 52);
  }
  canvas {}
}
