@import "./variables.scss";

.font-drawer {
  height: 250px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  background-color: $darkGrey;

  .sample-font-input {
    border: none;
    border-bottom: 1px solid $grey;
    min-height: 39px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 12px;
    color: $darkerGrey;
  }

  .font-samples {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}

.font-sample { //
  display: flex;
  margin: 5px;
  background-color: white;
  min-height: 80px;
  box-shadow: 0 3px 3px -3px $darkerGrey;

  .font-sample-controls {
    display: flex;
    width: 100px;
    background-color: $lightGrey;
    overflow: hidden;
    box-shadow: 1px 0 0 $darkerGrey;
    .sort-handle {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: row-resize;
      width: 18px;
      height: 100%;
      background-color: $darkerGrey;
      color: $lightGrey;
    }
    .font-sample-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      .font-sample-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 2px;
        color: $darkerGrey;
        cursor: pointer;
        span {
          font-size: 12px;
          font-weight: 500;
        }
        img {
          width: 15px;
          margin-right: 4px;
        }
      }
      .font-sample-reference {
        display: flex;
        border: 1px solid $darkerGrey;
        color: $darkerGrey;
        width: 100%;
        > * {
          margin: 0;
          padding: 0;
          height: 20px;
        }
        .cell-reference {
          flex-grow: 1;
          font-weight: 500;
          cursor: default;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          &.disabled {
            background: $grey;
          }
          &.invalid {
            background-color: rgba(255, 0, 0, 0.4);
          }
          &.valid {
            background: white;
          }
          width: 100%;
          max-width: 50px;
          text-align: center;
          border: none;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 20px;
          border: none;
          border-left: 1px solid $darkerGrey;
          padding-bottom: 2px;
          font-weight: 500;
          background: $grey;
          cursor: pointer;
        }
        align-items: center;
        justify-content: center;
      }
    }
  }
}
