.spreadsheet-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  font-size: 12px;
  .input-bar {
    box-sizing: border-box;
    width: 100%;
    height: 21px;
  }
  .table-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    .canvas-container {
      display: flex;
      padding: 0;
      margin: 0;
      position: relative;
      align-items: center;
      justify-content: center;
      outline: 1px solid red;

      .randomise-button {
        border-radius: 100%;
        &:active {
          background-color: darkgreen;
        }
        cursor: pointer;
        opacity: 0;
        position: absolute;
        background-color: teal;
        z-index: 1;
        height: 40px;
        width: 40px;
      }

      &:hover {
        .randomise-button {
          opacity: 0.6;
          visibility: visible;
        }
      }
    }
    .slider-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      padding: 2px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      span {
        margin-bottom: 2px;
        font-weight: bold;
      }
      input {
        &.reversed {
          transform: rotate(180deg);
        }
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        pointer-events: all;
      }
    }
  }
}

.handsontable { // overrides
  td {
    padding: 0;
  }
}
