$lightGrey: rgb(243, 243, 243);
$grey: #dcdcdc;
$darkGrey: #8c8c8c;
$darkerGrey: #585858;
$outlineGrey: #ccc;

// $darkestGrey: rgb(20, 20, 20);

$actionColor: rgba(255, 113, 0, 1);
$cellHighlight: rgba(255, 113, 0, 1);
$actionColorTransparent: rgba(255, 113, 0, 0.3);

// $actionColor: rgba(176, 89, 255, 1);
// $cellHighlight: rgba(176, 89, 255, 1);
// $actionColorTransparent: rgba(176, 89, 255, 0.3);

// $actionColor: rgba(60, 200, 60, 1);
// $cellHighlight: rgba(60, 200, 60, 1);
// $actionColorTransparent: rgba(60, 200, 60, 0.3);
