$lightGrey: rgb(243, 243, 243);
$grey: #dcdcdc;
$darkGrey: #8c8c8c;
$darkerGrey: #585858;
$outlineGrey: #ccc;

// $darkestGrey: rgb(20, 20, 20);

$actionColor: rgba(255, 113, 0, 1);
$cellHighlight: rgba(255, 113, 0, 1);
$actionColorTransparent: rgba(255, 113, 0, 0.3);

// $actionColor: rgba(176, 89, 255, 1);
// $cellHighlight: rgba(176, 89, 255, 1);
// $actionColorTransparent: rgba(176, 89, 255, 0.3);

// $actionColor: rgba(60, 200, 60, 1);
// $cellHighlight: rgba(60, 200, 60, 1);
// $actionColorTransparent: rgba(60, 200, 60, 0.3);

$checkeredBackground:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%238c8c8c' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

$classColor0: rgb(68, 39, 66);
$classColor1: rgb(66, 97, 130);
$classColor2: rgb(232, 112, 69);
$classColor3: rgb(252, 190, 103);
$classColor4: rgb(249, 228, 197);
